<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="BasicSuite1" verbose="1" >
    <test name="UITests" >
        <classes>
            <class name="com.course.lessons.ten.homeWorkTest1.TheInternetCollection"/>
            <class name="com.course.lessons.ten.homeWorkTest2.TheInternetCollection2"/>

        </classes>
    </test>

</suite>